#chatContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
}

#question {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

#buttons {
    text-align: right;
}

#chatSpace {
    overflow: scroll;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
}

#chatSpace .MuiAlert-root {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#chatSpace .role {
    font-weight: 800;
    padding-bottom: 5px;
}
